body{
    background-color: #b5fff5;
    color: #333;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button{
    padding: 3px 20px;
    background-color: #ffcce0;
    color: #333;
    border: none;
}

input{
    height: 20px;
}
